* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: rgb(187, 201, 255);
}
h1 {
  margin-top: 40px;
}
body,
.app {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.app {
  padding: 10px;
  margin: 30px;
  background-color: rgb(231, 204, 251);
  width: 70%;
  max-width: 580px;
  min-width: 300px;
  height: 370px;
  border-radius: 100px 5px 100px 5px;
}

h2 {
  color: rgb(41, 41, 41);
  width: 70%;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid green;
  margin: 20px;
}

input,
.translation {
  width: 70%;
  height: 35px;
  margin-bottom: 10px;
  background-color: rgb(187, 201, 255);
  border: 1px solid rgb(187, 201, 255);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

.input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn {
  background-color: rgb(184, 253, 253);
  padding: 10px;
  border: 1px solid rgb(153, 224, 224);
  border-radius: 20px 5px 20px 5px;
  transition: 0.5s ease-in-out;
}

.btn:hover {
  border-radius: 5px 20px 5px 20px;
  transition: 0.5s ease-in-out;
  background-color: rgb(255, 159, 255);
}
